@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #ffffff;
  width: 100%;
  margin: 80px 0;
}

section {
  padding: 40px;
  border-bottom: 1px solid #d2d5da;
}

/* Add this media query for screens above 640px */
@media (min-width: 640px) {
  section {
    max-width: 800px; /* Set your desired maximum width */
    margin: 0 auto; /* Center the section */
  }
}

.section-container {
  background-color: #f8fafc;
}

.inter-heading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.25rem;
}

.center-text {
  text-align: center;
}

.inter-heading-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

div > header > p,
div > section > p,
div > section > ol,
div > section > ul,
.inter-body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

a {
  color: #4e80ee;
  text-decoration: none;
}

ol,
ul {
  margin-bottom: 1.5rem;
}
